body {
  text-align: center;
  overflow-x: hidden;
  background: white;
  height: 100vh;
  
}
.vert.flexPrice {
    position: relative;
    bottom: 1px;
  }
html {
  overflow-x: hidden;
}
.navbar-fixed nav {
  width:100vw;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}
.bgToap {
  background: #F6EEE1;
}
.serif {
  font-family: 'Lora', serif;
}
.woman, .box{
 
  position: absolute;
  bottom: 0;
}
.woman {
  height:200px;
}
.box {
  height:100px;
}
.relative {
  position: relative;
}
.acclaim, .moreCrates {
  padding: 0 14px;
}


.selectionButton {
  width: 80%;
  height: 120px;
  border: solid 1px #363636;
  border-radius: 20px;
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: center;

}
.selectionButton h5 , .selectionButton p{
  font-family: 'Lora', serif;
  text-align: left;
  padding-left:40px;
  margin: 5px;
}
.selectionButton p {
  font-size: 18px;
}
.selectionButton:hover {
  background: white;
}
.padright5 {
  padding-right:5px;
  
}
.LRMargin {
  margin: 0 1.5rem;
}
.vertLine {
  height:120px;
  width:1px; 
  background: black;
  position: absolute;
  right: 20%;
}
.flexLeft {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.flexPrice {
  display: flex;
  justify-content: center;
  align-items:center;
}
.greenButton {
  font-family: 'Pragati Narrow', sans-serif;
  background:#5DBE53;
  border-bottom:3px solid black;
  border-left: none;
  border-top: none; 
  border-right:none;
  font-size:20px;
  text-transform: uppercase;
  display: flex !important;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 50px;
}
.greenButton:hover {
  opacity: 0.7;
}
.gothicP {
    font-size: 50px !important;
    font-weight: 700;
    padding: 0 !important;
}
.vert {
  border-left: 1px solid #363636;
  height: 120px;
}
.selectionButton h5 { 
  font-weight: 700;
}
.left { 
  float:left;
}
.right {
  float: right;
}
.font18 {
  font-size:18px;
}
.ordernow {
  height:19px;
}

.App-intro {
  font-size: large;
}
.brand-logo {
  color: royalblue !important;
  font-size: 18px !important;
  font-weight: bold;
  
} 
/* MORE CRATES */
.moreCrates {
  display: flex;
  justify-content: center;
  align-items: center;
}
.moreCrates .flexLeft h5 {
  font-size: 18px;
}
.moreCrates .flexLeft p {
  font-size: 12px;
}
.moreCrates .gothicP {
  font-size:30px !important;
}
.moreCrates .flexLeft {
  height: 70px ; 
}
.moreCrates .flexPrice {
  height: 69px;
}
.moreCrates .selectionButton {
  height:70px;
  border-radius: 10px;
}
/* Footer */
.acclaim p{
  font-family: 'Lora', serif;
  font-size:20px;
}
.acclaim img {
  height: 150px;
  margin: 80px 0;
}
.responsive-img {
  height: auto !important;
  max-width: 100%;
}

.center {
  display: block;
  margin: auto;
  text-align: center;
}
  .subheader {
    font-size: 30px;
    margin-top: 80px;
  }
  .modal-close {
    display: none;
  }
.css-1bdcmy7, [data-css-1bdcmy7] {
  top: 0 !important; 
  right: 0 !important;
  left: initial !important;
}
.facebookButton {
  height: 50px;
  background:#3B5998;
  color:white;
  display: flex;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  
}
.meat {
  max-width: 100%;
  height: auto;
}
.meatBG { 
  margin-top:80px;
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
  background-image: url('./images/meatbg.png');
  height: 110vh;
}
.col-12 {
  padding: 0 !important;
}
.plans h2 {
  font-family: 'Lora', serif !important;
  font-size: 20px;
}
.plans {
  padding: 0 !important;
}
.footerHeader {
  font-size:40px;
  font-family: 'Loal', serif;
}
.moreCrates .selectionButton:hover {
  background: #F6EEE1;
}


@media screen and (max-width: 769px) {
  .selectionButton { 
    width:100%;
    
  }
  .moreCrates .flexPrice,   .moreCrates .flexLeft {
    height: 79px !important;
  } 
  .vert.flexPrice {
    position: relative;
    bottom: 1px;
  }

  .authentic {
    position: relative; 
    top:20px;
  }
  .moreCrates {
    display: block;
  }
  .paddingBottom80 {
    padding: 0 14px 80px 14px  !important;
  }

  .offered {
    padding: 0 !important;
  }
  .offered p {
    text-align: center !important;
    font-size: 25px !important;
    padding: 0 15px;
  }
  .offered .greenButton, .offered .meat {
    margin: auto;
    display: block;
  }
  .bgWhite.margin200 {
    margin-top: 40px !important;
  }
  .selectionButton {
    width: 100% !important;
  }
  .margin115 {
  display: none;
}
.bgToap {
  padding: 0 15px 80px 15px;

}
.crate {
  display: none;
}
.selectionButton h5 {
  padding-left: 0;
  font-size: 12px;
}
.selectionButton p {
  padding-left: 0;
  font-size:11px;
}

.flexPrice p {
  font-size:18px !important;
}
.col-9, .col-3, .col-6 {
  padding: 0 !important;
}
.padleft5 {
  padding-left:5px !important;
}
.padright5 {
  padding-right:5px !important;
}
.selectionButton, .flexPrice {
  height:80px !important;
}
.selectionButton {
  border-radius: 10px;
}
footer ul li p, footer .container p {
    text-align: center !important;
  } 
  .moreCrates .selectionButton {
    margin: 20px auto;
  }
  .LRMargin {
    margin: auto;
    padding: 0 14px !important;
  }

}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.button-collapse {
  color: gray;
}
.row {
  margin-bottom: 0;
}
.row .col {
  padding: 0 !important;
}

nav {
  background-color: #F4F1E1;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav p {
  color: #333;
  font-size: 18px;
  font-weight: 400;
  position: relative;
  bottom: 18px;
}
nav ul li a {
  color: gray;
  font-family: 'Lato', sans-serif;
  font-size: 15px;
}
.hero h1 {
  color: white;
  max-width: 35%;
  letter-spacing: 2px;
  font-size: 40px;
  font-weight: 900;

}
.btn.waves-effect.waves-light {
  height:50px;
  padding: 8px 3rem;
}
.notfound {
 display: flex;
  place-content: center;
  align-items: center;
  height: calc(100vh - 64px)
}
.notfound h1 {
  font-size: 30px;
}

.email  div {
  display: flex;
}
.email input:focus {
  border-bottom:none !important;
  box-shadow: none !important;
}
.email input {
  color: white;
  background-color:white;
  outline: none;
  border-bottom:none;
  height:50px;
  border-radius: 6px 0 0 6px;
  text-align: center;
  color:#363636;
  width:200px;
  display: inline;
}

input:focus {
  box-shadow: none !important;
}
.margin80 {
  margin-top: 80px;
}
.email button {
  background: #CACBD4;
  display: inline;
  border: none;
  outline: none;
  height: 50px;
  width:60px;
  color:white;
  border-radius: 0 6px 6px 0;
}
.stepOne input{
  display: block !important;
  width: 100%;
}
.stepOne button {
  width: 100%;
}
.stepOne {
  width:100%;
}
hr { 
  margin: 40px auto;
}
.email button:hover {
  background-color: #aeafb2;
}
.banner {
  display: none;
  background-color:#3AC25B;
  text-align: center;
  position: relative;
}
.exit {
  font-weight: 200;
  color:white;
  font-size: 40px;
  position: absolute;
  right: 10px;
}
.row, .col-md-12, .col-md-4 {
  padding: 0 !important;
  margin: 0 !important;
}
.line {
  background: blue;
  height: 1px;
  width:20%;
  position: relative;


}
.lines {
  display: flex;
  vertical-align: middle;
  align-items: center;
  justify-content: space-between;
  position: relative;
  bottom:40px;

}
.flexCenter {
  display: flex;
  justify-content: center;

  flex-direction: column;
}
.plans {
   padding-bottom:80px !important;
}
.exit:hover {
  color: gray;
}
.margin40 {
  margin-top: 40px !important;
}
.width70 {
  max-width: 70% !important;
}
.width40 {
  max-width: 40%;
}
.subtitle {
  font-size:30px !important;

}
.width60 {
  max-width: 60%;
}
.width50 {
  max-width: 50%;
}
.bold {
  font-weight: bold;
}
.borderRight {
  border-right: 1px solid #d3d3d3 !important;
}
.font30 {
  font-size: 30px;
}
.font15 {
  font-size: 15px;
}
.headerCont {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
}
.line { 
  height:2px;
}

.welcome {
  height:20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.badge {
  height:20px;
  width:20px;
  background: #363636 !important;
  color:white;
  border-radius: 50%;
}

.leftPercent {
  left: 20%;
}
.rightPercent {
  right:20%;
}
.bgWhite {
background: white;
}
.paddingLeft {
  padding-left:100px;
}
.meatCont {
  display: flex;
}
.meat {
  height:100px;
}
.offered p {
  text-align: left;
  font-size:35px;
  font-family: 'Lora', serif;
}
.margin115 {
  margin-top:115px !important;
}
.margin80 {
  margin-top: 80px !important;
}
.full {
  width:100%;
}
.margin200 {
  margin-top:200px !important;
}
.margin100 {
  margin-top: 100px;
}
.bottom70 {
  position: relative;
  bottom:70px;
}
.bottom45 {
  position:  relative;
  bottom: 45px;
}
.margin0 {
  margin: 0 !important;
}

.margin5 {
  margin-top: 5px;
}
.margin20 {
  margin-top:20px;
}
.margin10 {
  margin-top:10px;
}
.subhead a{
  position: absolute;
  top: 100px;
  left: 40px;
  color:white;
  text-decoration: none;
}
.hamburger {
  position: absolute;
  top: 100px; 
  right: 20px;
}
.hamburger span {
  display: block;
  height:3px;
  background: white;
  width:20px;
  margin-top: 4px;

}
footer hr {
  width:100vw;
}
footer {
  width:100%;
  position: relative;
  bottom: 0;
  margin-top:100px !important;
}
footer ul li p, footer p{
  text-align: left;
}
footer ul li p {
  font-size: 12px;
  color:#333;
  font-weight: 300;
}
footer p {
  font-size: 13px;
  color:#333;
  font-weight: 400;
}
.flexCont2 a {
  text-decoration: none;
  font-size: 13px;
  color:#333 !important;
  font-weight: 400;
  margin-right:20px;
}
.flexCont2 a {
  margin-left: 20px;
}
.flexCont2 {
  align-items: center;
}
.grayBox {
  height:30px;
  width:30px;
  border: 2px solid darkgray;
  margin-top:-5px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fa {
  color: white;
}
.flexCont {
  display: flex;
}
small {
  text-align: left;
}
.flexCont2 {
  display: flex;
}
.col-md-3 {
  padding: 0 !important;
}
.flex {
  display: flex; 
  justify-content: center;
  align-items: center;
}
.flex span {
  color:#333;
  font-family: 'Lora', serif;
}

.badge {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 30px;
  width:30px;
  background: #363636 !important;
  border-radius: 50%;
}

.badgeNoFill {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333;
  height: 30px;
  width:30px;
  border: 1px solid #363636;
  border-radius: 50%;
}

.flex span {
  margin-left: 10px
}

.line {
  height: 2px;
  width:40px; 
  margin: 0 2rem; 
  background: #d3d3d3;
}
.width100 {
  width: 100%;
}
@media screen and (min-width: 769px) {
  img.acclaimed {
    height: 150px !important;
  }

}
@media screen and (max-width: 1234px) {
  .moreCrates .flexLeft h5 {
    font-size: 13px;
    padding: 0;
    margin: 0 5px;
  }
  .moreCrates .gothicP {
    font-size: 18px !important;
  }
  footer .selectionButton p {
    margin: 0 5px; 
    padding-left: 0px;
  }
}



@media screen and (max-width:1200px) {
  .hide1200b {
    border: none !important;
  }
  .hide1200 {
    display: none;
  }
  .lines {
    justify-content: center;
  }
}
@media screen and (max-width:475px) {
  .resfont {
    font-size: 24px !important;
  }
  .hideMobile {
    display: none;
  }
  .width40 , .width70, .width50, .width60 {
    max-width: 100% !important;
  }
  .mBorderTop {
  border-top: 1px solid #d3d3d3;
  max-width: 70%;
  margin:auto;
  text-align: center;
  border-right: none !important;
  margin-top:15px;
  padding-top: 8px;
}
.headerHome {
  color:white; 
  position: absolute;
  top: 20px; 
  right: 20px;
}
.mBorderTop p {
  position: relative;
  top:4px;
}
.mNoBorder {
  border-right: none !important;
}
footer * {
  text-align: center !important;
  margin-left: auto; 
  margin-right:auto;
  display:block;
}

.grayBox{
    margin-left: 0 !important; 
    margin-right: 0 !important;  
  }
  .flexCont {
    justify-content: center;
  }

}

@media screen and (max-width: 722px) {
  .hero h1 {
    font-size: 25px;
    max-width: 70%;
  }
}
@media only screen and (max-width: 992px) {
.hide-on-med-and-down {
    display: block !important;
}
  .button-collapse {
    display: none;
  }
  nav ul {
    display: flex;
    justify-content: center;
    align-items: center;

  }
  .navbar-wrapper {
    margin: auto;
  }
  .hide-on-med-and-down p {
   font-size: 12px !important;
    padding-top: 5px;
  }
}
/* SLIDER */

.Slider {
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.Slider-slides {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.Slider-slides--transition {
  -webkit-transition: -webkit-transform 0.25s;
  transition: -webkit-transform 0.25s;
  transition: transform 0.25s;
  transition: transform 0.25s, -webkit-transform 0.25s;
}

.Slider-slides > * {
  -webkit-flex-basis: 0;
      -ms-flex-preferred-size: 0;
          flex-basis: 0;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.Slider-slides > * {
  -webkit-flex-basis: 0;
      -ms-flex-preferred-size: 0;
          flex-basis: 0;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.bm-burger-button button {
  height: 40px !important;
  width:40px !important;
  right: 10px !important;
  top: 90px !important;
  left: initial !important;
}
.bm-burger-bars {
  display: none !important;
}

.Slider-nav {
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10px;
  -webkit-box-ordinal-group: 3;
  -webkit-order: 2;
      -ms-flex-order: 2;
          order: 2;
}

.Slider-navButton {
  background: none;
  border: 0;
  height: 20px;
  opacity: 0.5;
  outline: none;
  position: relative;
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
  width: 20px;
  padding: 0;
}

.Slider-navButton::after {
  background: #345;
  border-radius: 50%;
  content: '';
  display: block;
  height: 6px;
  left: 7px;
  position: absolute;
  top: 7px;
  width: 6px;
}

.Slider-navButton--active {
  opacity: 1;
}

.Slider-navButton--active::after {
  height: 12px;
  left: 4px;
  opacity: 1;
  top: 4px;
  width: 12px;
}

.Slider-arrows {
  height: 0;
  left: 0;
  position: absolute;
  top: calc(50% - 35px);
  width: 100%;
  z-index: 1;
}

.Slider-arrows--noNav {
  top: calc(50% - 20px);
}

.Slider-arrow {
  background: none;
  border: none;
  height: 40px;
  opacity: 0.5;
  outline: none;
  position: absolute;
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
  padding: 0px;
  width: 21px;
}

.Slider-arrow:hover {
  opacity: 1;
}

.Slider-arrow::after, .Slider-arrow::before {
  background: #fff;
  border-radius: 3px;
  content: '';
  display: block;
  height: 23px;
  position: absolute;
  width: 5px;
  left: 8px;
}

.Slider-arrow::before {
  top: 0;
}

.Slider-arrow::after {
  bottom: 0;
}

.Slider-arrow--left {
  top: 0;
  left: 10px;
}

.Slider-arrow--left::before {
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
}

.Slider-arrow--left::after {
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
}

.Slider-arrow--right {
  top: 0;
  right: 10px;
}

.Slider-arrow--right::before {
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
}

.Slider-arrow--right::after {
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
}
.planCardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
.planCard {
  height: 554px;
  width: 368px;
  border: solid 1px #d3d3d3;
}
.stepTwo {
  background: #F6EEE1 !important;
  padding-bottom:100px;
}

.bgCardOne {
  background: url("https://myba-media.blueapron.com/registration/assets/6f7713ba01002cc80c1ae5375fda7984c941d09b/images/registration/two-person-plan-bg.jpg");
  height: 182px;
  width: 367px;
  background-position: center;
  background-size: cover;
}
.bgCardTwo {
  background: url('https://myba-media.blueapron.com/registration/assets/6f7713ba01002cc80c1ae5375fda7984c941d09b/images/registration/family-plan-bg.jpg');
  height: 182px;
  width: 367px;
  background-position: center;
  background-size: cover;
}
.planCard h1 {
  font-size: 25px;
  font-family: 'Lora', serif;
  margin: 30px 0 5px 0;
}
.planCard h2 { 
  font-size: 12px;
  font-family: 'Lato', sans-serif;
  margin: 0;
}
.planPortionContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.servings {
  font-family: 'Lora', serif;
  height: 50px;
  width: 50px;
  border-radius: 10px;
  margin-top: 20px;
  border: 1px solid #363636;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
}
.recipes {
  text-align: left;
  color: gray;
  font-size:12px;
  max-width: 30px;
  position: relative;
  top: 10px;
  left: 5px;
}
.dark { 
  color: darkGray;
}
.mathbox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.left, .right {
  height: 124px;
}
.mathbox h3{
  font-size: 32px;
  font-family: 'Lora', serif;
  padding: 0 20px;
}
.mathbox .left div{
  height: 50px;
  display: block;
  width:1px; 
  background: #363636;
  float:right;
  position: relative;
  right: 0;
  bottom: 60px;
}

.selectPlan { 
  width: 70%;
  font-family: 'Lora', serif;
  text-align: center;
  margin: auto;
  border: 1px solid #363636;
  background: white;
  height: 50px;
  border-radius: 15px;
}
.selectPlan:hover {
  background: #F6EEE1;
  color:#363636;
}
.toapColor {
  background: white;
  padding: 80px 0;
}
.checkoutCard {
  height: 760px !important;
  width: 390px !important;
  background: #F6EEE1;
  margin: auto;
  padding: 32px!important;
}
.inlineTitle {
  display: flex;
  align-items: center;
  
}
.checkoutBadge {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  margin-top: 20px;
  margin-left: 20px;
}
.checkoutBadge span {
  font-size: 30px;
}
.inlineTitle span {
  font-family: 'Lora', serif;
}
.span2 {
  font-size: 22px;
  font-weight: 800;
  position: relative; 
  top: 10px;
  left: 20px

}

/* CHECKOUT */
.shopify-buy__cart {
    height: 100%;
    background-color: #fff;
    width: 340px !important;;
    box-shadow: -5px 0 5px rgba(0, 0, 0, .1);
}
.shopify-buy__cart__subtotal__price {
    float: right;
}
.shopify-buy__quantity-container {
    height: 26px;
    line-height: 26px;
}
.shopify-buy__cart__header {
    padding: 20px;
    padding-right: 40px;
    position: relative;
    z-index: 2147483647;
}
.shopify-buy__cart__title {
    font-size: 18px;
    color: #767676;
    font-weight: normal;
    overflow: hidden;
    text-overflow: ellipsis;
}
.shopify-buy__cart__notice {
    font-size: 11px;
    clear: both;
    padding-top: 10px;
    text-align: center;
    color: #4c4c4c;
}
.shopify-buy__btn--close {
    position: absolute;
    right: 9px;
    top: 8px;
    font-size: 35px;
    color: #767676;
    border: none;
    background-color: transparent;
    -webkit-transition: color 100ms ease, -webkit-transform 100ms ease;
    transition: color 100ms ease, -webkit-transform 100ms ease;
    transition: transform 100ms ease, color 100ms ease;
    transition: transform 100ms ease, color 100ms ease, -webkit-transform 100ms ease;
    cursor: pointer;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding-right: 9px;
}
.shopify-buy__cart-scroll {
    padding: 70px 0 135px 0;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
}
.shopify-buy__btn {
    color: #fff;
    font-size: 15px;
    background-color: #78b657;
    padding: 12px 40px;
    letter-spacing: .3px;
    display: block;
    border-radius: 3px;
    cursor: pointer;
    -webkit-transition: background 200ms ease;
    transition: background 200ms ease;
    max-width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 1.2;
    border: 0;
    -moz-appearance: none;
    -webkit-appearance: none;
}
.shopify-buy__btn:hover :active{
	background-color: #262626;
}
.shopify-buy__btn.shopify-buy__btn--cart-checkout {
    background-color: #56358d;
    font-size: 13px;
    padding-top: 14.5px;
    padding-bottom: 14.5px;
}
.shopify-buy__btn--cart-checkout {
    clear: both;
    margin-top: 15px;
    width: 100%;
    padding: 10px 5px;
    font-size: 16px;
}
.shopify-buy__cart__notice {
    font-size: 11px;
    clear: both;
    padding-top: 10px;
    text-align: center;
    color: #4c4c4c;
}
.shopify-buy__cart-items {
    overflow: hidden;
    overflow-y: auto;
    height: 100%;
    position: relative;
    padding: 0 20px 20px;
    -webkit-overflow-scrolling: touch;
    -webkit-perspective: 400px;
    perspective: 400px;
    -webkit-perspective-origin: 50% 0px;
    perspective-origin: 50% 0px;
}
.shopify-buy__cart-bottom {
    background-color: #fff;
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 20px;
}
.shopify-buy__cart-item {
    min-height: 65px;
    margin-bottom: 20px;
    overflow: hidden;
    position: relative;
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
    -webkit-animation: 200ms flipIn forwards;
    animation: 200ms flipIn forwards;
}
.shopify-buy__cart__subtotal__text {
    text-transform: uppercase;
    float: left;
    font-size: 11px;
    color: #4c4c4c;
}
.shopify-buy__cart-item__image {
    width: 65px;
    height: 65px;
    position: absolute;
    left: 0;
	display: block;
}
.shopify-buy__cart-item__title {
    font-size: 14px;
    margin-left: 80px;
    display: block;
    margin-bottom: 10px;
}
.shopify-buy__quantity-container {
    height: 26px;
    line-height: 26px;
}
.shopify-buy__cart-item__quantity-input {
    float: left;
    background: transparent;
}
.shopify-buy__btn.shopify-buy__btn--cart-checkout:hover :active{
	background-color: #262626;
}
.shopify-buy__quantity {
    color: black;
    width: 45px;
    height: 30px;
    font-size: 16px;
    border: none;
    text-align: center;
    -moz-appearance: textfield;
    -webkit-appearance: none;
    display: inline-block;
    padding: 0;
    border-radius: 0;
    border: 1px solid #dedede !important;
}
.shopify-buy__quantity-decrement, .shopify-buy__quantity-increment {
    color: #4c4c4c;
    display: block;
    height: 30px;
    float: left;
    line-height: 16px;
    font-family: monospace;
    width: 26px;
    padding: 0;
    border: none;
    background: transparent;
    box-shadow: none;
    cursor: pointer;
    font-size: 18px;
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    border: 1px solid #d3d3d3; 
    position: relative;
}
.shopify-buy__quantity-decrement {
    border-radius: 3px 0 0 3px;
}
.shopify-buy__btn {
    color: #fff;
    font-size: 15px;
    background-color: #78b657;
    padding: 12px 40px;
    letter-spacing: .3px;
    display: block;
    border-radius: 3px;
    cursor: pointer;
    -webkit-transition: background 200ms ease;
    transition: background 200ms ease;
    max-width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 1.2;
    border: 0;
    -moz-appearance: none;
    -webkit-appearance: none;
}
.shopify-buy__btn {
    background-color: #56358d;
    font-size: 13px;
    padding-top: 14.5px;
    padding-bottom: 14.5px;
}
.shopify-buy__btn.shopify-buy__beside-quantity {
    display: inline-block;
    vertical-align: top;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border: 1px solid transparent;
}
.shopify-buy__layout-vertical .shopify-buy__btn-and-quantity .shopify-buy__btn, .shopify-buy__layout-vertical .shopify-buy__btn-and-quantity .shopify-buy__quantity-container, .shopify-buy__layout-horizontal .shopify-buy__btn-and-quantity .shopify-buy__btn, .shopify-buy__layout-horizontal .shopify-buy__btn-and-quantity .shopify-buy__quantity-container {
    margin: 0 auto;
}
.shopify-buy__btn-and-quantity .shopify-buy__btn-wrapper {
    display: inline-block;
    vertical-align: top;
    margin: 0;
}
.shopify-buy__btn-and-quantity .shopify-buy__quantity {
    border-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background: #fff;
}
.shopify-buy__quantity {
    font-size: 13px;
    padding-top: 14.5px;
    padding-bottom: 14.5px;
	height:46px;
	border-left:solid #dedede 1px !important;
}
.shopify-buy__quantity, .shopify-buy__quantity-increment, .shopify-buy__quantity-decrement {
    border-color: #d3dbe2;
    line-height: 1.2;
    height: auto;
}
.shopify-buy__quantity {
    border-left: 1px solid #d3d3d3 !important;
    border-right: 1px solid;
    border-radius: 3px;
	height: 46px;
}
.shopify-buy__quantity {
    color: black;
    width: 45px;
    border: none;
    text-align: center;
    -moz-appearance: textfield;
    -webkit-appearance: none;
    display: inline-block;
    padding: 0;
    border-top: 1px solid #767676;
    border-bottom: 1px solid #767676;
}
.shopify-buy__btn-and-quantity .shopify-buy__quantity-container {
    display: inline-block;
    vertical-align: top;
}
.shopify-buy__product {
    overflow: hidden;
    width: 100%;
}
.shopify-buy__cart-item__price {
    float: right;
    font-size: 14px;
    font-weight: bold;
    line-height: 26px;
}
            
.inline {
	box-sizing: border-box!important;
	display: inline-block!important;
	vertical-align: top!important;
	margin-left: 0!important;
  margin-top: 0!important;
	-moz-box-sizing: border-box!important;
  min-width: -webkit-calc(50% - 0px)!important;
	min-width: -moz-calc(50% - 0px)!important;
	min-width: calc(50% - 0px)!important;
	max-width: -webkit-calc(100% - 0px)!important;
	max-width: -moz-calc(100% - 0px)!important;
	max-width: calc(100% - 0px)!important;
	width: -webkit-calc(0px - 0%)!important;
	width: -moz-calc(0px - 0%)!important;
	width: calc(0px - 0%)!important;
}
.form-text {
	background-color: transparent!important;
	border: none;
	box-sizing: border-box!important;
	color: #000!important;
	flex-grow: 1!important;
	max-width: 100%!important;
	font-size: 14px!important;
	padding: 8px 16px!important;
	font-family: ff-clan-web-pro,"Helvetica Neue",Helvetica,sans-serif!important;
	font-weight: 500!important;
  line-height: 24px!important;
	outline: 0!important;
  text-align: none!important;
	transition: all .4s ease!important;
	margin-bottom: 0!important;
	-moz-box-sizing: border-box!important;
	-webkit-flex-grow: 1!important;
	-webkit-transition: all .4s ease!important;
	-ms-flex-positive: 1!important;
}
.form-container {
  background-color: #fff!important;
	border-color: #e5e5e4!important;
	border-style: solid!important;
	border-width: 1px!important;
	box-sizing: border-box!important;
  height: 52px!important;
	flex-wrap: wrap!important;
	transition: all .4s ease!important;
	-moz-box-sizing: border-box!important;
	-webkit-flex-wrap: wrap!important;
	-ms-flex-wrap: wrap!important;
	-webkit-transition: all .4s ease!important;
	-webkit-box-lines: multiple!important;
	display: -webkit-box!important;
	display: -moz-box!important;
	display: -ms-flexbox!important;
	display: -webkit-flex!important;
	display: flex!important;
}
.sign-up {
  font-family: "Helvetica Neue",Helvetica,sans-serif!important;
	font-size: 20px!important;
	margin-top: 0!important;
}
.form-container-padded {
	background-color: #FFFFFF;
	border-color: #E5E5E4;
	border-style: solid;
	border-width: 1px;
  box-sizing: border-box;
	height: auto;
	flex-wrap: wrap;
	margin-bottom: 24px;
	transition: all 400ms ease;
	margin: 0;
	-moz-box-sizing: border-box;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-webkit-transition: all 400ms ease;
	-webkit-box-lines: multiple;
}
.form-last {
	background-color: transparent;
	border: none;
	box-sizing: border-box;
	color: #000000;
	flex-grow: 1;
	font-family: ff-clan-web-pro, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 14px;
	font-weight: 500;
	line-height: 24px;
  outline: none;
	padding: 8px 18px;
  text-align: none;
	transition: all 400ms ease;
  margin-bottom: 0;
	height: 52px;
	-moz-box-sizing: border-box;
	-webkit-flex-grow: 1;
	-webkit-transition: all 400ms ease;
	-ms-flex-positive: 1;
}
.form-container input{
  border-bottom: none !important;
  padding: 0 15px;
}
form {
  margin-top: 40px;
}
.form-inline {
  display: flex;
  justify-content: center;
}
.shippingTitle {
  font-size: 16px;
  text-align: left;
  font-family: 'Lora', serif;
}
select {
  display: block;
  outline: none !important;
  height: 52px;
}
.billingCheckbox {
  margin-top: 20px;
}
input[type="checkbox"], input[type="radio"] {
  position: relative !important;
  left: initial !important;
  opacity: 1 !important;
  margin-right: 5px;
  vertical-align: middle;
}
.totalNames {
  float:left;
}
.totals {
  float:right;
}
label {
  vertical-align: top;
  color: #363636;
  font-family: 'Lora', serif;
}
.shipping {
  margin-top: 40px;
  text-align: left;
}
.shipping label {
  display: block;
}
.one label {
  float: left;
}
.two {
  position: relative;
}
.two label {
  font-size: 16px !important;
}
.checkoutTitle {
  font-size: 18px;
  position: relative;
  bottom: 30px;
}
.someContainer {
  margin:20px 0;padding: 0 15px;
}
.itemContainer {
  background: white;width:100%;height:110px;box-sizing:border-box;border:1px solid #e5e5e4;
}
.itemsContainer {
  padding:0;height:265px;overflow-y:scroll;
}
.itemImg {
  background-repeat:no-repeat;background-size: contain;
}
.title {
  text-align:left;font-weight:600;
}
.checkoutContainer {
  margin-top:40px;position: relative;
}
.totals, .totalNames {
  text-align: left;
}
.placeOrderContainer {
  position: absolute;
  bottom: 20px;
}
.placeorder {
  width:100%;
  height:50px;
  border: 1px solid #363636;
  background:white;
  font-family: 'Lora', serif;
  border-radius: 10px;
  margin-top:40px;
}
.placeorder:active {
  background:#F6EEE1;
}
.placeorder:hover {
  background:#F6EEE1;
}
.totalBox {
  margin-top:175px;
  padding: 0 15px;
}
.checkoutTitle {
  font-family: 'Lora', serif;
}
.alert {
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
}

/* The close button */
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}
/* When moving the mouse over the close button */
.closebtn:hover {
    color: black;
}
  /* The alert message box */
.alert {
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
    display: none;

}

/* The close button */
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}
/* When moving the mouse over the close button */
.closebtn:hover {
    color: black;
}
  .thankyou {
    margin: auto;
    text-align: center;
  }
  .thankyou * {
    font-family: 'Lora', serif;
  }
  .thankyou h1 {
    font-weight: 800;
    margin-top:120px;
  }
  .thankyou h2 {
    font-size: 25px;
  }
  .thankyou h3 {
    font-size:20px;
  }
.onehundred {
  height:100%;
  width:100%;
}
.bottom80 {
  margin-bottom: 150px !important;
}
.white {
  background: white !important;
}
.stepTwoTitle {
  font-size: 25px;
  font-family: 'Lora', serif;
  position: relative;
  top: 40px;
}
.stepOneTitle {
  font-size: 25px;
  font-family: 'Lora', serif;
  position: relative;
  top: 80px;
}
.slideOne {
  background: url('./images/bg-photo.jpg') !important;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}
.slideTwo {
  background: url('./images/bg-photo2.jpg') !important;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}
.item {
  margin: 0 !important;
}

@media screen and (max-width:768px) {
  .planCardContainer {
    flex-direction: column;
  }
  .planCard {
    margin: 40px 0;
  }
}
@media screen and (max-width:600px) {
  .flex span {
    margin-left: 3px;
    line-height: 60px;
    font-size: 11px;
  }
  .line {
    width: 10px;
    margin-left: 5px; 
    margin-right: 5px;
  }
  .badge {
    padding-top: 7px;
    align-items: initial;
  }
}
@media screen and (max-width: 500px) {
  .bottom40mobile {
    margin-bottom:40px !important;
  }
}